In [ ]:
1. Write a program to accept percentage from the user and display the grade according to the following 
criteria:
    
Marks                    Grade 
>90                        A 
>80 and <=90               B 
>=60 and <=80              C 
below 60                   D

In [ ]:
print("Enter your percentage and know your grade ")
percent = int(input("Enter Percentage : "))
if percent<0 or percent>100:
    print("Please enter a valid percentage")
else:
    if percent>90:
        result="A"
    elif percent>80 and percent <=90:
        result="B"
    elif percent>=60 and percent <=80:
        result="C"    
    else:
        result="D"
    print("GRADE : " + str(result))

In [ ]:
2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
    
Tax         Cost Price(in Rs) 
15%           >100000 
10%           50000 and <= 100000 
5%            <= 50000

In [ ]:
cost_price = float(input("Enter the cost of bike : "))
if cost_price<0:
    print("This pricing is not possible for a bike : ")
else:
    if cost_price>100000:
        tax_rate=0.15
    elif cost_price>50000 and cost_price<=100000:
        tax_rate=0.10
    else:
        tax_rate=0.05
    tax=cost_price * tax_rate
    print("Tax applicable on your bike is : ",tax)

In [ ]:
3. Accept any city from the user and display monuments of that city. 

City                 Monument
Delhi                 Red Fort
Agra                  Taj Mahal
Jaipur                Jal Mahal

In [ ]:
city_monument = {'Delhi':'Red Fort', 'Agra':'Taj Mahal', 'Jaipur':' Jal Mahal '}
city = str(input("Please enter the city : "))
try:
    city_monument[city]
    print("Monument in this city is : ",city_monument[city])
except KeyError as error:
    print("Looks like this city doesn't exist in our dictionary")

In [ ]:
4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [1]:
number = int(input("Enter the number you want to divide with 3 : "))
count=0
while(number/3>10):
    number = number/3
    count=count+1
print(count)

Enter the number you want to divide with 3 :  999

4

In [ ]:
5. Why and When to Use while Loop in Python give a detailed description with example 

Answer : While is used in python when we want to execute some statement/statements repeatedly based on a certaib condition . 

Example : Suppose I want to count how many times 200 can be subtracted by 20 before reaching the value 0 . Then I can apply the while loop to subtract 
50 from 200 untill it becomes zero . 

num=200
while(num>0):
    num=num-50
    count++

In [ ]:
 6.Use nested while loop to print 3 different pattern.

In [17]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *

In [18]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  8

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31  32  33  34  35  36

In [19]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("#", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  10

# # # # # # # # # #
# # # # # # # # #
# # # # # # # #
# # # # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#

In [ ]:
7. Reverse a while loop to display numbers from 10 to 1.

In [20]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
7. Reverse a while loop to display numbers from 10 to 1.

In [21]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1